<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        div{padding: 10px 20px 10px 20px;}
        nav{background-color: #ccf2ff;}
    </style>
    <title>GUWUGLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
		<h1>GUWUGLE</h1>
	</nav>
    <div>
        <div class="row">
            <div class="form-group col-3">
              <label for="all_classes">Select a class</label>
              <select class="form-control" id="all_classes">
                {% for o in all_classes %}
                        <option value="{{ o }}">{{ o }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-9">
              <label for="all_entries">Select an entry</label>
                <form class = "entry" method="POST">
                  <select class="selectpicker form-control" id="all_entries" name="all_entries">
                    {% for o in all_entries %}
                            <option value="{{ o }}">{{ ' '.join(o[0].split()[:20]) }}</option>
                    {% endfor %}
                  </select>
                </form>
            </div>
            <div>
                <button type="button" id="process_input" class="btn btn-primary mb-2">Process selection!</button>
            </div>
        </div>
        <div id="processed_results">
        </div>
        <div>
            <form id="getUserInput"  method="post">
                <label class="control-label requiredField" for="input">
                    Based on the context chosen, please input one to five queries:
                </label>
                    <textarea id="input_q" class="form-control" name="queries" rows="3" placeholder="Enter your queries here&#10;Eg. Query 1, Query 2, Query 3... Up to 5 Queries" autofocus></textarea>
                <span class="help-block" id="hint_textarea">
                    <span class="text-muted">Please separate your queries with a ',' comma in between each</span>
                </span>
                <br/>
                <br/>
                <button type="button" id="btnFetch" class="btn btn-primary mb-2" onclick="validator();">Run</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#all_classes').change(function(){
          $.getJSON('/_update_dropdown', {
            selected_class: $('#all_classes').val()
          }).success(function(data) {
                $('#all_entries').html(data.html_string_selected);
           })
        });
        $('#process_input').bind('click', function() {
            $.getJSON('/_process_data', {
                selected_class: $('#all_classes').val(),
                selected_entry: $('#all_entries').val(),
            }).success(function(data) {
                $('#processed_results').text(data.random_text);
            })
          return false;
        });
      });
    </script>
</body>
</html>