{% extends 'base.html' %}
<head><meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  
  </head>
{% block title %}My Chart.js Chart{% endblock %}

{% block mainContent %}

<div class="container" style=" width: 150%;">
  <div class="row">
    <div class="col">
     <canvas id="myChart" width="100" height="50" ></canvas>
</div>
<div class="col">
  <canvas id="myChart2" width="50" height="25"></canvas>
</div>

<div class="w-100"></div>
  <div class="col"><canvas id="myChart3" width="50" height="25"></canvas></div>
  <div class="col"><canvas id="myDoughnutChart" width="50" height="25"></div>
</div>

<div><canvas id="barchart" width="300" height="500"></div>

</div>



<script src="../static/js/jquery.js"></script>
<script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" ></script>
<script>


var chartData = {
  labels :{{ values_c | tojson }},
  datasets : [{
  label: "Time(s)",
  fill: true,
  lineTension: 0.1,
  backgroundColor: "rgba(102,178,255,0.4)",
  borderColor: "rgba(102,178,255,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(102,178,255,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 5,
  pointHoverBackgroundColor: "rgba(102,178,255,1)",
  pointHoverBorderColor: "rgba(220,220,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 1,
  pointHitRadius: 10,
  data : {{ label_c | tojson }},
  spanGaps: false
}]
}

var ctx = document.getElementById("myChart").getContext("2d");


var myChart = new Chart(ctx, {
type: 'line',
data: chartData,
options:{
      title:{
              display: true,
              text: 'Time Taken to Produce Answer for Different Length of Contexts'
            },
        scales: {
          yAxes: [
              {
                scaleLabel: {
                 display: true,
                  labelString: "Time(s)",
              },
                  },
                ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                    labelString: "Length of Context",
                    },
                  },
                ],
              }
            }
});



var chartData2 = {
labels : {{ values_q | tojson }},
datasets : [{
label: "Time(s)",
ill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
  data : {{ label_q | tojson }},
  spanGaps: false,
 }]
}


var ctx2 = document.getElementById("myChart2").getContext("2d");



var myChart2 = new Chart(ctx2, {
type: 'line',
data: chartData2,
options:{
  title:{
              display: true,
              text: 'Time Taken to Produce Answer for Different Length of Queries'
            },
        scales: {
          yAxes: [
              {
                scaleLabel: {
                 display: true,
                  labelString: "Time(s)",
              },
                  },
                ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                    labelString: "Length of Query",
                    },
                  },
                ],
              }
            }
});


var chartData3 = {
labels : {{ days| tojson }},
datasets : [{
label: "Percentage(%)",
ill: true,
lineTension: 0.1,
backgroundColor: "rgba(204,153,255,0.4)",
borderColor: "rgba(204,153,255,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(204,153,255,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(204,153,255,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
  data : {{ accuracy | tojson }},
  spanGaps: false,
 }]
}


var ctx3 = document.getElementById("myChart3").getContext("2d");



var myChart3 = new Chart(ctx3, {
type: 'line',
data: chartData3,
options:{
  title:{
              display: true,
              text:  'Daily Percentage of Correct Answers '
            },
        scales: {
          yAxes: [
              {
                scaleLabel: {
                 display: true,
                  labelString: "Percentage of Correct Answers",
              },
                  },
                ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                    labelString: "Day",
                    },
                  },
                ],
              }
            }
});
var ctx4 = document.getElementById("myDoughnutChart").getContext("2d");
var myDoughnutChart = new Chart(ctx4, {
    type: 'doughnut',
    data: {
    labels: ['Correct','Wrong'],
    datasets: [{
      
    backgroundColor: [ "#66FFB2","#FF9999"],
    data: {{pie| tojson}}
    }] },

    options: {
      title: {
        display: true,
        text: "Overall Percentage of Correct Answers"
      }
    
},
});

var ctx5 = document.getElementById("barchart").getContext("2d");
var barchart=new Chart(ctx5, {
    type: 'bar',
    data: {
      labels: {{topics | tojson}},
      datasets: [
        {
          label: "Correct",
          backgroundColor: "#90EE90",
          data: {{q_corr | tojson }}
        }, {
          label: "Wrong",
          backgroundColor: "#FFB6C1",
          data: {{q_wr | tojson }}
        }
      ]
    },
    options: {

      title: {
        display: true,
        text: "Proportion of Correct and Wrong Answers in Each Topic"
      },
    tooltips: {
      displayColors: true,
      callbacks:{
        mode: 'x',
      },
    },
    scales: {
      xAxes: [{

        scaleLabel: {
                 display: true,
                  labelString: "Topics",
              },
        stacked: true,
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        scaleLabel: {
                 display: true,
                  labelString: "Proportion of Correct and Wrong Answers",
              },
        stacked: true,
        ticks: {
          beginAtZero: true,
        },
        type: 'linear',
      }]
    },
    responsive: true,
    maintainAspectRatio: false,
    legend: { position: 'bottom' },
  }
    // options: {
    //   title: {
    //     display: true,
    //     text: 'Number of correct answers and wrong answers'
    //   }
    // }
});
</script>

{% endblock %}
{% block additionalscripts %}



{% endblock %}